{% extends 'inicio.html'%}




{% block title %}
    {{super()}}
    NodeJs
{% endblock %}




{% block content %}

<nav class="navbar navbar-dark bg-dark">
    
   
        <div class="container-fluid">
          <a class="navbar-brand" href="inicio">Inicio</a>
          <a class="navbar-brand" href="python">Python</a>
          <a class="navbar-brand" href="java">Java</a>
          <a class="navbar-brand" href="C#">C#</a>
          <a class="navbar-brand"  href="NodeJs">NodeJs</a>
          <a class="navbar-brand"  href="bd">Bases de datos</a>
          <a class="navbar-brand"  href="wilson">Mas sobre mi</a>
          
            </div>
          </div>
        </div>
      </nav>
      
        {% endblock %}

        {% block body %}
        <div class="container">
      <h1>Mis conocimientos en Python</h1>
      
      <p>
        Mis conocimientos se enfocaron en aprender sintaxis,Algoritmos,Ciclos esto con la finalidad de integrar el modelo cliente servidor
        y creacion de API REST, integrando Html,Css y Javascript e incorporando un framework como express y un motor de
        plnatillas llamado handlebars. 
      </p>
     
    </div>

    <img src="{{url_for('static', filename='images/back_node.jpg')}}" height="400" width="600" >
    <img src="{{url_for('static', filename='images/front_node.jpg')}}" height="400" width="600" >
      {% endblock %}

      {% block images%}
      
      {% endblock %}