{% extends 'inicio.html'%}




{% block title %}
    {{super()}}
    Bases de datos
{% endblock %}




{% block content %}

<nav class="navbar navbar-dark bg-dark">
    
   
        <div class="container-fluid">
          <a class="navbar-brand" href="inicio">Inicio</a>
          <a class="navbar-brand" href="python">Python</a>
          <a class="navbar-brand" href="java">Java</a>
          <a class="navbar-brand" href="C#">C#</a>
          <a class="navbar-brand"  href="NodeJs">NodeJs</a>
          <a class="navbar-brand"  href="bd">Bases de datos</a>
          <a class="navbar-brand"  href="wilson">Mas sobre mi</a>
          
            </div>
          </div>
        </div>
      </nav>
      
        {% endblock %}